@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer base {
  :root {
	--background: rgb(149, 129, 129);
	--foreground: white;
	--nav: rgba(0, 0, 0, 0.775);

	--card: black;
	--card-foreground: white;

	--popover: black;
	--popover-foreground: white;

	--primary: white;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: rgb(149, 149, 149);
	--secondary-foreground: white;

	--muted: black;
	--muted-foreground: 215 20.2% 65.1%;

	--accent: rgba(183, 201, 255, 0.248);
	--accent-foreground: white;

	--destructive: red;
	--destructive-foreground: white;

	--border: black;
	--input: black;
	--ring: green;

	--gradient: linear-gradient(0deg, #bababa 0%, #b48383 100%); 
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

.head-nav{
	height: 60px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background: var(--nav);
	box-shadow: 0 5px 50px #000;
	align-items: center;
}

.center-nav, .right-nav{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.center-nav a{
	margin: 0 25px;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s linear;
}
.center-nav a:hover{
	color: var(--secondary);
	font-size: 17px;
	transition: 0.3s linear;
}

.right-nav a{
	margin: 0 10px;	
	font-size: 25px;
	transition: 0.2s ease-in;
}
.right-nav a:hover{
	color: var(--secondary);
	transition: 0.3s linear;
}

.burger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
	margin: 0 15px;
}

.head-footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--nav);
	height: 50px;
	flex-shrink: 0;
	font-size: 20px;
}
.head-footer a{
	cursor: pointer;
	margin: 0 10px;
	color: var(--foreground);
	transition: 0.3s linear;
}
.head-footer a:hover{
	color: var(--secondary);
	transition: 0.3s linear;
}

.head-first-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--gradient);
	height: 500px;
	flex-shrink: 0;
	font-size: 20px;
	border-bottom: 5px dashed var(--border);
	text-align: center;	
}


.head-first-page h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 900;
	color: var(--foreground);
	margin: 15px 0px;
}

.head-first-page p{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.button-poligon {
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	padding: 25px 40px;
	-webkit-clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 50%,calc(100% - 17px) 100%,17px 100%,0 50%);
	clip-path: polygon(17px 0,calc(100% - 17px) 0,100% 50%,calc(100% - 17px) 100%,17px 100%,0 50%);
	background: var(--card);
	box-shadow: 0px 5px 50px var(--card);
	transition: 0.2s linear;
}
.button-poligon:hover {
	background: var(--card-foreground);
	color: var(--card);
	transition: 0.2s linear;
}

.head-projects-page {
	display: flex;
	margin: 20px 0;
	flex-direction: column;
	align-items: center;
}

.project-container{
	display: flex;
	box-shadow: 0px 5px 50px var(--card);
}

.responsive-image {
    position: relative;
    width: 45vw;
    height: 300px;
}

.project-description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 45vw;
	background: var(--card-foreground);
	color: var(--card);
}

.project-description div h1{
	font-weight: 700;
	margin: 10px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.project-description p{
	margin-top: 30px;
}

@media screen and (max-width: 992px){
	.center-nav a{
		font-size: 13px;
	}
	.center-nav a:hover{
		font-size: 14px;
	}
	.right-nav a{
		font-size: 15px;
	}
}
@media (max-width: 768px) {
    .burger-menu {
        display: block;
		z-index: 1000;
		transition: 0.3s linear;
    }
	.burger-menu.active {
		color: var(--secondary);
		transition: 0.3s linear;
	}
    .center-nav {
		flex-direction: column;
        position: absolute;
		text-align: center;
        width: 50%;
        height: 100vh;
        background: #333;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
		opacity: 0;
		z-index: -1;
    }
    .center-nav.active {
        display: flex;
		opacity: 1;
        transform: translateX(100%);
        transition: all 0.3s ease;
		z-index: 1;
	}
	.center-nav a{
		margin: 20px 0;
		font-size: 18px;
		font-weight: 700;
	}
	.center-nav a:hover{
		font-size: 17px;
	}

    .right-nav {
        display: none;
    }
}

@media (min-width: 769px) {
    .center-nav {
        display: flex;
    }
}